.postModeloContainer {
    color: var(--cor-fonte-post);
    position: relative;
}

.fotoCapa,
.titulo {
    height: 400px;
    
}

.fotoCapa {
    width: 1800px;
    height: 500px;

    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.5;
    position: absolute;
    top: 0;
    z-index: -1;
}

.titulo {
    font-family: var(--fonte-secundaria);
    padding: 0 5.5rem;
    font-size: 3.5rem;
    display: flex;
    align-items: unsafe end;
    position: left;
}

.postConteudoContainer {
    padding: 2.5rem 7.5rem 4.5rem;
}

@media (max-width: 744px) {
    .postConteudoContainer {
        padding: 2rem 1.5rem 1.5rem;
    }
}

@media (max-width: 744px) {

    .fotoCapa,
    .titulo {
        height: 300px;
    }

    .titulo {
        padding: 0 1rem;
        font-size: 2rem;
    }

    .postConteudoContainer {
        padding: 2rem 1rem 1.5rem;
    }
}