* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  
  --verde-agua: #088171;
  --rosa-claro: #f09898;
  --vermelho: #d4272f;
  --cor-fonte-principal: #041833;
  --cor-fonte-post: #070202;
  --branco: #FFF;
  --roxo-escuro: #380334;
  --fonte-principal: 'Raleway', sans-serif;
  --fonte-secundaria: 'Playfair Display', sans-serif;

  font-family: var(--fonte-principal);
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: minmax(0, 1fr);
  min-height: 100vh;
}

a, button, input, textarea {
  font: inherit;
  color: inherit;
}

button {
  background-color: transparent;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1, h2, h3 {
  font-weight: 700;
  line-height: 5rem;
}
